.stats{
  display: inline-block;
  vertical-align: top;
}


.playerImg{
  height: 220px;
  width: 220px;
  margin-right: 20px;
  -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
   transition: width 2s, height 2s;
}

.playerImg:hover{
  width:  130%;
  height: 130%;
}

.container input{
  margin-left: 10px;
}
