<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="css3.css" media="screen" title="no title">
  </head>
  <body>
      <div class="" ng-controller="myController">
        <div class="">Sort By:
            <label>Average Points</label><input type="radio" name="name" value="" ng-click="sortBy('careerAvgPts')">
            <label>Name</label><input type="radio" name="name" value="" ng-click="sortBy('name')" checked>
        </div>

        <div ng-repeat=" p in players | orderBy: condition " class="playerTile">
              <div player-directive player="p"></div>
          </div>

      </div>
  </body>
</html>
