<div class="container">Sort By:
  <input class="sortRadio" type="radio" name="name" value="" ng-click="sortBy('name')" checked>
  <label>Name</label>

  <input class="sortRadio" type="radio" name="name" value="" ng-click="sortBy('careerAvgPts')">
  <label>Average Points</label>

  <input class="sortRadio" type="radio" name="name" value="" ng-click="sortBy('rb')">
  <label>Average Rebounds</label>

  <input class="sortRadio" type="radio" name="name" value="" ng-click="sortBy('ast')">
  <label>Average Assists</label>
</div>
